* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media all and (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media all and (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media all and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  margin-right: -15px;
  margin-left: -15px;
}

[class*="col-"] {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media only screen and (min-width: 600px) {
  .col-m-12 {width: 100%;}
  .col-m-11 {width: 91.66666667%;}
  .col-m-10 {width: 83.33333333%;}
  .col-m-9 {width: 75%;}
  .col-m-8 {width: 66.66666667%;}
  .col-m-7 {width: 58.33333333%;}
  .col-m-6 {width: 50%;}
  .col-m-5 {width: 41.66666667%;}
  .col-m-4 {width: 33.33333333%;}
  .col-m-3 {width: 25%;}
  .col-m-2 {width: 16.66666667%;}
  .col-m-1 {width: 8.33333333%;}
}

@media all and (min-width: 768px) {
  .col-12 {width: 100%;}
  .col-11 {width: 91.66666667%;}
  .col-10 {width: 83.33333333%;}
  .col-9 {width: 75%;}
  .col-8 {width: 66.66666667%;}
  .col-7 {width: 58.33333333%;}
  .col-6 {width: 50%;}
  .col-5 {width: 41.66666667%;}
  .col-4 {width: 33.33333333%;}
  .col-3 {width: 25%;}
  .col-2 {width: 16.66666667%;}
  .col-1 {width: 8.33333333%;}
}
