@import url("https://fonts.googleapis.com/css?family=Lora:400,400i");

* {
  /*border: solid 1px rgba(255, 0, 0, 0.41);*/
    color: #322f2f;
}

html,
body {
  width: 100%;
  height: 100%;
}

.cover {
  background: url("../images/white-cover.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.cover > header {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  font-family: "Lora", serif;
  text-align: center;
}

.transparency {
  background-color: rgba(135, 123, 106, 0.48);
  padding: 1px 1em;
}

.title {
  font-size: 3em;
}

.subtitle {
  font-style: italic;
  font-weight: lighter;
  font-size: 1.4em;
}

.button-cover {
  padding: 1em 1em;
  background-color: rgba(135, 123, 106, 0.48);
}

.button-cover a {
  font-size: 0.9em;
  color: #d8d3cc;
}

.button-cover.above {
  margin-bottom: 1em;
}

.button-cover.below {
  margin-top: 1em;
}
