
      <div id="cover" class="cover">

        <nav class="cst-nbar nav-hidden">
          <ul>
            <li>
              <div class="bt-nav bt-nav--active">
                <a class="bt-nav-link" href="#">Home</a>
              </div>
            </li>
            <li>
              <div class="bt-nav">
                <a class="bt-nav-link" href="#search">Venta</a>
              </div>
            </li>
            <li>
              <div class="bt-nav">
                <a class="bt-nav-link" href="#search">Alquiler</a>
              </div>
            </li>
            <li>
              <div class="bt-nav">
                <a class="bt-nav-link" href="#contact">Contacto</a>
              </div>
            </li>
          </ul>
        </nav>

        <header class="cover-header">
          <div class="bt-wrapper bt-wrapper--above">
            <div class="bt-cover">
              <a class="bt-nav-link" href="#contact">Contacto</a>
            </div>
          </div>
          <div class="transparency">
            <h1 class="title text-center">Eureka</h1>
            <h2 class="subtitle text-center">Estudio Jurídico Inmobiliario</h2>
          </div>
          <div class="bt-wrapper bt-wrapper--below">
            <div class="bt-cover">
              <a class="bt-nav-link" href="#search">Venta</a>
            </div>
          </div>
          <div class="bt-wrapper bt-wrapper--below">
            <div class="bt-cover">
              <a class="bt-nav-link" href="#search">Alquiler</a>
            </div>
          </div>
        </header>

      </div> <!-- END .cover -->
