
      <div class="layer-opaque">
        <div class="gallery-img-container">
          <div class="gallery-remove">
            <span class="glyphicon glyphicon-remove"></span>
          </div>
          <div class="gallery-chevron gallery-chevron--left">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </div>
          <div class="gallery-chevron gallery-chevron--right">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </div>
        </div>
      </div>
