{% extends "anuncios/base.html" %}
{% load static %}

{% block lang %}"es_AR"{% endblock %}
    {% block charset %}"utf-8"{% endblock %}
    {% block description %}"FILL-IT"{% endblock %}
    {% block keywords %}"FILL-IT"{% endblock %}
    {% block title %}Eureka | Home{% endblock %}
    <!-- CHANGE-IT -->
    {% block canonical %}"https://www.elaleph.com.br"{% endblock %}

    {% block customlinks %}
    <link rel="stylesheet" href="{% static 'anuncios/css/main.css' %}">

    <!-- <link rel="stylesheet" href="/src/libs/bs/css/bootstrap.min.css">
    <link rel="stylesheet" href="/src/fonts/fonts.css">
    <link rel="stylesheet" href="/src/css/main.css"> -->
    {% endblock %}
    {% block content %}
    <div class="site-wrapper">

      {% include "anuncios/gallery.html" %}

      {% include "anuncios/cover.html" %}

      {% include "anuncios/search.html" %}

    </div> <!-- END .site-wrapper -->
    {% endblock %}

    {% block customscripts %}
    <script src="{% static 'anuncios/js/builder.js' %}"></script>
    <script src="{% static 'anuncios/js/custom.js' %}"></script>

    <!-- <script src="/src/libs/jquery-3.1.1.min.js"></script>
    <script src="/src/libs/bs/js/bootstrap.min.js"></script>
    <script src="/src/js/builder.js"></script>
    <script src="/src/js/custom.js"></script> -->
    {% endblock %}
