{% extends "anuncios/base.html" %}

    <!-- To-Do-List: fill-it -->
    {% block description %}description{% endblock %}
    <!-- To-Do-List: fill-it -->
    {% block keywords %}keywords{% endblock %}
    {% block title %}Eureka | Home{% endblock %}

    {% block content %}
    <div class="site-wrapper">

      {% include "anuncios/gallery.html" %}

      {% include "anuncios/cover.html" %}

      <div id="search" class="container search">
        <div class="row search-row">

          {% include "anuncios/search_form.html" %}

          {% include "anuncios/search_result.html" %}

        </div> <!-- END .row -->
      </div> <!-- END .container -->

    </div> <!-- END .site-wrapper -->
    {% endblock %}
