* {
  /*border: solid 1px rgba(255, 0, 0, 0.41);*/
}

html,
body {
  color: #322f2f;
}

body::-webkit-scrollbar {
  display: none;
}

/* COVER Style
------------------------------ */

.cover {
  position: relative;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Lora", serif;
}

@media all and (orientation: landscape) {
  .cover {
    background-image: url("../../build/images/cover/cover-raw-land.jpg");
  }
}

@media all and (orientation: portrait) {
  .cover {
    background-image: url("../../build/images/cover/cover-raw-port.jpg");
  }
}

@media all
and (max-width: 320px)
and (orientation: portrait) {
  .cover {
    background-image: url("../../build/images/cover/cover-320-port.jpg");
  }
}

@media all
and (max-width: 640px)
and (orientation: landscape) {
  .cover {
    background-image: url("../../build/images/cover/cover-640-land.jpg");
  }
}

@media all
and (min-width: 321px) and (max-width: 425px)
and (orientation: portrait) {
  .cover {
    background-image: url("../../build/images/cover/cover-425-port.jpg");
  }
}

@media all
and (min-width: 426px) and (max-width: 768px)
and (orientation: portrait) {
  .cover {
    background-image: url("../../build/images/cover/cover-768-port.jpg");
  }
}

@media all
and (min-width: 641px) and (max-width: 1024px)
and (orientation: landscape) {
  .cover {
    background-image: url("../../build/images/cover/cover-1024-land.jpg");
  }
}

@media all
and (min-width: 769px) and (max-width: 1024px)
and (orientation: portrait) {
  .cover {
    background-image: url("../../build/images/cover/cover-1024-port.jpg");
  }
}

@media all
and (min-width: 1025px) and (max-width: 1280px)
and (orientation: landscape) {
  .cover {
    background-image: url("../../build/images/cover/cover-1280-land.jpg");
  }
}

@media all
and (min-width: 1281px) and (max-width: 2048px)
and (orientation: landscape) {
  .cover {
    background-image: url("../../build/images/cover/cover-2048-land.jpg");
  }
}

.cover > header {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.transparency {
  background-color: rgb(135, 123, 106);
  background-color: rgba(135, 123, 106, 0.48);
  padding: 1px 1em;
}

.title {
  font-size: 3em;
  text-shadow: 2px 2px 10px;
}

.subtitle {
  font-style: italic;
  font-weight: lighter;
  font-size: 1.4em;
  text-shadow:1px 1px 12px rgb(162, 145, 130);
}

.bt-wrapper {
  display: flex;
  width: 100%;
  background-color: rgb(135, 123, 106);
  background-color: rgba(135, 123, 106, 0.48);
}

.bt-wrapper.above {
  margin-bottom: 1em;
}

.bt-wrapper.below {
  margin-top: 1em;
}

.bt-cover {
  margin: 0 auto;
  padding: 1em 0.3em;
  border-bottom: 1px solid #d8d3cc;
}

.bt-cover a {
  font-size: 0.9em;
  text-decoration: none;
  color: #d8d3cc;
}

/* NAVBAR Style
------------------------------ */

.nav-hidden {
  display: none;
}

.cst-nbar {
  position: absolute;
  top: 2em;
  left: 2em;
}

.cst-nbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cst-nbar li {
  float: left;
}

.bt-nav {
  padding: 0 0.3em 1em 0.3em;
  margin: 0 1em;
  border-bottom: 1px solid #322f2f;
}

.bt-nav a {
  text-decoration: none;
  text-shadow:1px 1px 12px rgb(162, 145, 130);
  color: #322f2f;
}

.bt-nav.active {
  border-bottom-width: thick;
}

.bt-nav.active a {
  font-weight: bold;
  font-style: oblique;
}

@media all
and (min-width: 768px) {
  .cst-nbar {
    display: inherit;
  }
  .bt-cover {
    display: none;
  }
}

@media all
and (max-width: 991px),
(orientation: portrait) {
  .cst-nbar {
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
  }
}

/* SEARCH Style
------------------------- */

.search {
  position: relative;
}

.search-form,
.resultados {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.bt-grp-tipoTrans {
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 1em;
}

/* RESULTS Style
------------------------- */

.anuncio {
  padding: 0;
}

.anuncio img {
  width: 100%;
}

.anuncio-imagens {
  position: relative;
}

.gallery-chevron {
  position: absolute;
  background-color: rgb(17, 17, 17);
  background-color: rgba(17, 17, 17, 0.64);
  color: white;
  padding: 0.7em;
  width: 3em;
  height: 3em;
  text-align: center;
}

.gallery-chevron:hover {
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.64);
  color: black;
}

.gallery-chevron--right {
  top: calc(50% - 1.5em);
  left: 100%;
  transform: translateX(-100%);
  border-radius: 4px 0 0 4px;
}

.gallery-chevron--left {
  top: 50%;
  transform: translateY(-50%);
  border-radius: 0 4px 4px 0;
}

.anuncio .breadcrumb {
  margin-bottom: 0;
  border-radius: 0;
  font-size: smaller;
}

.tipo-precio {
  position: relative;
}

.tipo-precio-inner {
  position: absolute;
  background-color: rgb(17, 17, 17);
  background-color: rgba(17, 17, 17, 0.64);
  color: #fff;
  padding: 0.5em;
  transform: translateY(-100%);
}

.anuncio-detalles {
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 1em;
}

.anuncio-mas-detalles span {
  font-weight: bold;
  padding-right: 0.5em;
}

.anuncio-titulo {
  margin-top: 0;
  font-size: 1.5em;
}
